/SEM-II/JAVA-LAB/Lab-IA2/Client-Server-USN/nbproject/private/
/SEM-II/JAVA-LAB/Lab-IA2/Client-Server-USN/build/
/SEM-II/JAVA-LAB/Lab-IA2/Client-Server-USN/dist/
/SEM-II/JAVA-LAB/Lab-IA2/Testing/nbproject/private/
/SEM-II/JAVA-LAB/Lab-IA2/Testing/build/
*.class